%h3 About
%p
  = link_to "Howgoodismyfood ","http://www.howgoodismyfood.com",:title => "How good is my food main page"
  aim to provide a simple reading of nutritional informations present on food packaging.
%p
  After showing a Channel4 TV programs about food manufacturer comportement toward the labelling of their nutritional informations 
  we decided to bring a simple application display the truth about what's in our food, using the <a href="http://www.food.gov.uk">FSA (Food Standards Agency)</a>  traffic light labelling.

%h3 How?
%p
  The <a href="http://www.eatwell.gov.uk/foodlabels/trafficlights/" title="FSA traffic light labelling explaination">FSA trafic light labelling</a> provide a very clear reading of the nutrional facts,
  using value from fat, saturated fats,sugars and salt.
%p
  In the <a href="http://www.howgoodismyfood.com" title = "how good is my food main page">howgoodismyfood.com main page</a> simply enter the product barcode you want to check. 
  If the product is available you'll be displayed the traffic light labelling of your product.
  If the product is not availble you'll be prompted a simple form to fill, and then your labelling will be calcultate and display.
  <b>As simple as it sounds</b>
%p
  You can use <a href="http://www.howgoodismyfood.com" title = "how good is my food website">howgoodismyfood</a> from you main computer or from your mobile, for free and without membership!
%h3 Contact us!
%p
  If you any idea, inquieries about <a href="http://www.howgoodismyfood.com">howgoodismyfood</a> please do not hesitate to contact us on <a href="mailto:developers@howgoodismyfood.com" title = "howgoodismyfood.com developers">developers@howgoodismyfood.com</a>

