%h3 Need access to the API?
%p
  We really beleive in third party development, that why we are working on the system API.
  If you have in interest in this contact the developers at <a href="mailto:developers@howgoodismyfood.com" title = "howgoodismyfood.com developers">developers@howgoodismyfood.com</a>
