/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd, caption, table, tr, th, td, thead, tbody, tfoot, p, blockquote, cite, q, abbr, acronym, address, a, em, strong, img, ins, del, dfn, kbd, pre, xmp, code, form, fieldset, legend, label, button, object {
  margin: 0;
  padding: 0; }
  html:focus, body:focus, div:focus, span:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, ol:focus, ul:focus, li:focus, dl:focus, dt:focus, dd:focus, caption:focus, table:focus, tr:focus, th:focus, td:focus, thead:focus, tbody:focus, tfoot:focus, p:focus, blockquote:focus, cite:focus, q:focus, abbr:focus, acronym:focus, address:focus, a:focus, em:focus, strong:focus, img:focus, ins:focus, del:focus, dfn:focus, kbd:focus, pre:focus, xmp:focus, code:focus, form:focus, fieldset:focus, legend:focus, label:focus, button:focus, object:focus {
    outline: 0; }

body {
  background-color: #DDD;
  font-family: Helvetica,"Times New Roman",Times,serif;
  background-image: url(../images/bg5.gif); }
  body#homepage h3 {
    display: none; }

a {
  color: #E5E5E5;
  text-decoration: underline; }
  a:hover, a:focus {
    text-decoration: underline;
    font-weight: bold; }

a.back {
  padding-left: 18px;
  background: url(../images/search.png) left 50%;
  background-repeat: no-repeat; }

#wrapper {
  width: 700px;
  margin: 10px auto;
  text-align: center;
  color: #E5E5E5; }
  #wrapper hr {
    width: 95%;
    border: 1px solid !text_color; }

#header a {
  text-indent: -3000000px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  height: 100px;
  width: 385px;
  margin: auto;
  display: block; }

#content {
  -moz-rounded-border: 5px;
  background-repeat: no-repeat;
  padding: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: lighter; }
  #content h3 {
    font-size: 30px;
    letter-spacing: 2px; }
  #content p {
    font-size: 18px;
    margin-bottom: 10px; }
  #content ul#fsa_results {
    margin: 15px auto;
    list-style: none;
    width: 385px; }
    #content ul#fsa_results li {
      font-size: 18px;
      font-weight: bold;
      width: 385px;
      height: 66px;
      background-repeat: no-repeat;
      margin-bottom: 10px;
      color: #000;
      letter-spacing: 1px; }
      #content ul#fsa_results li.low {
        background-image: url(../images/green.png); }
      #content ul#fsa_results li.medium {
        background-image: url(../images/amber.png); }
      #content ul#fsa_results li.high {
        background-image: url(../images/red.png); }
      #content ul#fsa_results li span {
        padding: 22px;
        display: block;
        text-align: left;
        margin-left: 48px;
        font-weight: bold; }
        #content ul#fsa_results li span em {
          font-weight: normal; }

#api p, #about p {
  text-align: justify;
  margin: 10px auto; }

form {
  background-color: #EEE;
  padding: 15px;
  color: #474747;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  form .fieldWithErrors {
    display: inline-block;
    color: #DF8F8F; }
  form #flash.error {
    color: #DF8F8F;
    text-align: center;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: italic; }

#search {
  background-color: transparent;
  margin: 10px 0px; }
  #search input[type='text'] {
    background-image: url('../images/input_bg.png');
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 15px;
    text-align: center;
    color: #E5E5E5;
    border: 0px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bolder;
    height: 74px;
    width: 644px; }
    #search input[type='text'].inactive {
      color: #666; }
    #search input[type='text'].active {
      color: #E5E5E5; }

button {
  display: block;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 10px 0px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 0px;
  color: #E5E5E5;
  position: relative;
  right: 5px; }
  button:hover, button:focus {
    background-color: #666;
    cursor: pointer;
    color: #F0F0D8;
    text-decoration: underline; }
  button.search {
    background: url(../images/bigsearch.png) left 50% no-repeat; }
  button.save {
    background: url(../images/add_32.png) left 50% no-repeat;
    color: #333;
    margin: 10px auto; }
    button.save:hover, button.save:focus {
      color: #666; }

#new_product {
  margin: auto;
  text-align: left;
  width: 530px; }
  #new_product ul {
    list-style: none; }
  #new_product label {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    width: 120px;
    margin: 10px 0px; }
  #new_product label#product_kind_food, #new_product label#product_kind_drink {
    display: inline; }
  #new_product input[type='text'] {
    width: 300px;
    font-size: 15px;
    line-height: 18px;
    border: 1px solid #474747;
    padding: 5px; }
  #new_product .per {
    font-size: 15px; }
  #new_product .added_sugar {
    display: none; }

#footer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #E5E5E5;
  font-family: verdana;
  font-size: 12px;
  margin: 0px; }
